{# templates/forgot_password/forgot_password.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <i class="fas fa-lock lock-icon"></i>
            <h2>Forgot Password?</h2>
            <p>You can reset your Password here</p>
            {{ form_start(form) }}
                <div class="input-field">
                    {{ form_widget(form.email) }}
                    {{ form_label(form.email) }}
                </div>
                <button type="submit">Send My Password</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}