{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="card">
        <i class="fas fa-lock lock-icon"></i>
        <h2>Reset Password</h2>
        <p>Enter your new password below</p>
        {{ form_start(form) }}
            <div class="input-field">
                {{ form_widget(form.password) }}
                {{ form_label(form.password) }}
            </div>
            <button type="submit">Reset Password</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}