{# templates/partials/notifications.html.twig #}

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="notification notification-{{ type }}">
            <p>{{ message }} </p>
        </div>
    {% endfor %}
{% endfor %}

<script>
    // Fade out the notifications after 5 seconds
    document.addEventListener('DOMContentLoaded', function () {
        const notifications = document.querySelectorAll('.notification');
        notifications.forEach(notification => {
            setTimeout(() => {
                notification.classList.add('fade-out');
                setTimeout(() => {
                    notification.remove();
                }, 1000); // Remove notification after fade out
            }, 2000); // Fade out after 5 seconds
        });
    });
</script>