/* ================== Variables ================== */
:root{
    --primary-color: #bb763b;
    --second-color: #196FE0;
    --hover-bg-color:  #db8c47;
    --border-hover-color: #a7652b;
    --shadow-1: 0px 2px 10px rgba(0, 0, 0, 0.3);
    --shadow-2: 0px 2px 10px rgba(26, 112, 224, 0.4);
}

/* ================== Global Styles ================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-image: url("../images/wallpaper-login2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

ul{
    list-style-type: none;
}

/* ================== Pages / Routes ================== */
/* ------------------ Navigation bar ------------------*/
.navbar {
    background-color: black;
    color: #fff;
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-logo a {
    flex: 1;
    margin-left: 15px;
    color: lightblue;
    font-size: 24px;
    text-decoration: none;
    width: 30%;
}
.navbar-logo img{
    width: 40%;
    object-fit:fill;
    transform: translateY(4px);

}

.navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    display: flex; 
    align-items: center; 
}

.navbar-menu ul li {
    display: inline;
    margin-left: 10px; 
}

.navbar-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.basics {
    flex: 1;
}

.navbar-menu .navbar-link {
    position: relative;
    text-decoration: none;
}
.navbar-menu .navbar-link::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.navbar-menu .navbar-link:hover::after {
    width: 100%;
}

/* Dropdown menu */
.navbar-menu ul .dropdown {
    position: relative;
    display: inline-block;
}

.navbar-menu ul .dropdown .dropdown-menu {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar-menu ul .dropdown .dropdown-menu li {
    color: white;
    padding: 16px 5px;
    display: block;
    font-size: 15px;
}

.navbar-menu ul .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-menu .navbar-dropdown-link {
    position: relative;
    text-decoration: none;
}
.navbar-menu .navbar-dropdown-link::after {
    content: '';
    position: absolute;
    bottom: -2.5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.navbar-menu .navbar-dropdown-link:hover::after {
    width: 100%;
}
/* End of dropdown menu */
/* user nav bar */
.nav-user ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 15px;
    display: flex; 
    align-items: center; 
}
.nav-user ul li {
    display: inline;
    margin-left: 10px; 
}
.nav-user ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
.nav-user .login-button {
    margin-left: 120px;
    background-color: #b88d21;
    border-radius: 5px;
    padding: 7px 20px;
    color: white;
    text-decoration: none;
}
.nav-user .login-button:hover {
    background-color: #c9a23f;
}

.nav-user .profile-button {
    position: relative;
    color: black;
    text-decoration: none;
}
.nav-user .profile-button::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease-in-out;
}

.nav-user .profile-button:hover::after {
    width: 100%;
}
/* End User Nav Bar */
/* ------------------ End of Navigation bar ------------------*/

/* ------------------ Home Page ------------------*/
.home-container {
    max-width: 1200px;
    margin: 50px auto;
    background-color: rgba(245, 245, 245, 0.624);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 40px;
    display: flex;
    flex-direction: column; /* Display children elements in a column */
}
.home-container .hero {
    display: flex;
    align-items: flex-start; /* Align items to the start (left side) */
}
.home-container .hero .text-content {
    margin-right: 200px; /* Add some space between text and image */
}
.home-container .hero h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}
.home-container .hero p {
    font-size: 1.2em;
    color: #666;
    text-align: left;
}
.home-container #home-image {
    height: 300px;
    width: 500px;   
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.home-container .car-card {
    margin-top: 20px;
    margin-bottom: 40px;
}
.home-container .car-card .rent-btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.home-container .car-card .rent-btn:hover {
    transition: 0.3s ease;
    background-color: var(--hover-bg-color);
    border: 2px solid var(--border-hover-color);
}
.home-container .copyright{
    margin: 0;
    color: rgb(95, 95, 95);
    font-size: 15px;
}
/* ------------------ end of Home Page ------------------*/

/* ------------------ About Page ------------------*/
.about-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.624);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    padding: 50px;
}

.about-container h2 {
    margin-bottom: 20px;
}

/* Author styles */
.author {
    display: flex;
    margin-bottom: 20px;
}

.author img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.author-info {
    flex: 1;
}

.author-info h3 {
    margin-top: 0;
}

/* About paragraph styles */
.about-paragraph1 {
    margin-top: 0;
    text-align: justify;
    line-height: 1.4;
    margin-bottom: 30px;

}

.about-paragraph2 {
    margin-top: 50px;
    text-align: justify;
    line-height: 1.6;
}

/* Responsive styles */
@media (max-width: 768px) {
    .author {
        display: inline-flex;
        align-items: center;
    }

    .author img {
        margin-right: 10px;
        margin-bottom: 0;
        object-fit: cover;
    }
}
/* ------------------ end of About Page ------------------*/

/* ------------------ Contact Page ------------------*/
.contact_container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(245, 245, 245, 0.624);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
}

.contact_container h2 {
    margin-top: 0;
    font-size: 45px;
    color: black;
}

.contact_container form {
    margin-top: 20px;
}

.contact_container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.contact_container input[type="text"],
.contact_container input[type="email"],
.contact_container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact_container input:focus, .contact_container textarea:focus{
    box-shadow: none;
    border-color: #c89568;
}
.contact_container input[type="email"]::placeholder {
    color: rgba(170, 167, 167, 0.879);
}


.contact_container textarea {
    height: 100px;
}

.contact_container button[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.contact_container button[type="submit"]:hover {
    transition: background-color 0.2s ease-in-out;
    background-color: var(--hover-bg-color);
    border: 2px solid var(--border-hover-color);
}

.success {
    color: rgba(37, 120, 37, 0.885);
    font-style: italic;
}

.error {
    color: rgba(181, 40, 40, 0.833);
    font-style: italic;
}
/* ------------------ end of Contact Page ------------------*/

/* ------------------ Login && Singup Page ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');
.login-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.login-container .box{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0px 20px 30px 20px;
    height: 620px;
    width: 350px;
    border-radius: 30px;
    background-color: rgba(255, 220, 220, 0.406);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    overflow: hidden;
    margin-top: 30px;
}
.login-container .box-login{
    position: absolute;
    width: 85%;
    left: 27px;
    transition: .5s ease-in-out;
}
.login-container .box-register{
    position: absolute;
    width: 85%;
    right: -350px;
    transition: .5s ease-in-out;
}
.login-container .top-header{
    text-align: center;
    margin: 30px 0 20px 0;
}
.login-container .top-header h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 8px;
}
.login-container .input-group{
     width: 100%;
    
}
.login-container .input-field{
    width: 100%;
    margin: 12px 0;
    position: relative;
}
.login-container .input-box{
    width: 100%;
    height: 50px;
    font-size: 15px;
    color: #040404;
    border: none;
    border-radius: 10px;
    padding: 7px 45px 0 20px;
    background: rgba(224, 223, 223, 0.6);
    backdrop-filter: blur(2px);
    outline: none;
}
.login-container .input-field label{
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 15px;
    transition: .3s ease-in-out;
}
.login-container .input-box:focus ~ label,.input-box:valid ~ label, .login-container .input-box:not(:placeholder-shown) ~ label{
    top: 2px;
    font-size: 10px;
    color: #c12828;
    font-weight: 500;
}
.login-container .remember{
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #000000;
}
.login-container .check{
    margin-right: 8px;
    width: 14px;
}
.login-container .radio-buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-container .input-submit{
    width: 100%;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    background: #db7b13e8;
    color: #fff;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.144);
    cursor: pointer;
    transition: .4s;
}
.login-container .input-submit:hover{
    background:  #f19028e8;
    box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}
.login-container .forgot{
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    margin-top: 40px;
}
.login-container .forgot a{
    color: #000;
}
.login-container .forgot a:hover{
    color: #5a5555;
    transition: color .2s ease-in-out;
}
.login-container .switch{
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 25px;
    width: 85%;
    height: 50px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.login-container .switch a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    z-index: 10;
}
.login-container #btn{
    position: absolute;
    bottom: 0px;   
    left: 0px;
    width: 145px;
    height: 50px;
    background: #cccccd;
    border-radius: 10px;
    box-shadow: 2px 0px 12px rgba(0, 0, 0, 0.1);
    transition: .5s ease-in-out;
}
.login-container .eye-area{
    position: absolute;
    top: 25px;
    right: 25px;
}
.login-container .eye-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.login-container i{
    position: absolute;
    color: #444444;
    cursor: pointer;
}
.login-container #eye,#eye-2{
    opacity: 1;
}
.login-container #eye-slash,#eye-slash-2{
    opacity: 0;}
@media only screen and (max-width: 576px){
    .box{
        margin: 0 5px;
    }
    #btn{
        position: absolute;
        width: 153px;
    }
}
/* ------------------ end of Login and Singup Page ------------------*/

/* ------------------ Profile Page ------------------*/
.profile-body .container{
    background-color: rgba(245, 245, 245, 0.843);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-body .form-control:focus {
    box-shadow: none;
    border-color: #c89568
}

.profile-body .profile-save-button {
    background: rgb(153, 120, 53);
    box-shadow: none;
    border: none
}

.profile-body .profile-save-button:hover {
    background: #ba9844ed
}


.profile-body .back:hover {
    color: #ba9844ed;
    cursor: pointer
}

.profile-body .labels {
    font-size: 11px
}
.profile-body .export{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.profile-body .export-button{
    display: flex;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px 16px;
    align-items: center;
    
}

.profile-body .export-button .fas{
    color: #000;
    text-decoration: none;
}

.profile-body .export-button .link{
    margin-left: 25px;
}
.profile-body .export-button .link:hover{
    color: black;
}
.profile-body .export-button:hover{
    transition: background 0.2s ease-in-out;
    background: #c89568;
    cursor: pointer;
    border: solid 1px #a35613
}
.profile-body .export-button:hover .fas, .profile-body .export-button:hover .link{
    filter: invert(100%);
    transition: 0.1s ease-in-out;
}
/* Profile picture */
.profile-pic-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid transparent;
}
.edit-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}
/* Hover effect */
.profile-pic-container:hover .profile-pic {
    transition: 0.3s ease;
    border: 3px solid black;
    opacity: 0.8;
    cursor: pointer;
}
.profile-pic-container:hover .edit-icon {
    opacity: 0.8;
    cursor: pointer;
}

.profile-body .comments {
    margin-top: 10px;
}
.profile-body .comments p:first-child{
    margin-bottom: 0;
}
.profile-body .comments .comment1{
    font-size: 12px;
    color: rgb(117, 116, 116);
}
/* ------------------ end of Profile Page ------------------*/